* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.App {
  background-color: hsl(185, 41%, 84%);
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-icon {
  position: absolute;
  top: 5.4%;
}

.main-container {
  width: 100%;
  height: 84.6%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px 25px 0 0;
  position: relative;
  transform: translateY(18%);
}
